  body,
html{
	background:url("navbarbackground.jpg");
	background-repeat: space;
}

.header{
	color:white;
	background-image: url('hdbackground.jpg');
	background-repeat:no-repeat;
	text-align:center;
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
	width:100%;
	padding:2px;
	height:auto;
}
.return {
	text-decoration: none;
}

	.return:hover {
		text-decoration: none;
	}
.mainheader{
	font-size:5.5vw;
	font-family: Dancing Script;
	text-shadow: 3.5px 3.5px 3.5px red;
	margin-top:auto;
	margin-bottom:auto;
	display:flex;
	justify-content:space-between;
}
	.mainheader:hover {
		color: green;
		text-shadow: white 0.5px 0.5px 0.5px;
	}
.txone,
.txtwo,
.txthree,
.txfour{
	margin-left:7px;
	margin-right:7px;
}

.top-header{
	background-color:#7E0C0C;
	border: none;
}

.imgcontainer{
	width:100%;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;
}
.logo{
	width:10vw;
	height:auto;
	padding-top:5%;
	padding-bottom:5%;
}

.scrollingquote{
	font-size:2vw;
	color:white;
	width:100%;
	height:auto;
	font-family:Dancing Script;
	text-shadow: 2px 2px 2px green;
}

.navbar{
	width:100%;
	height:75px;
	padding-left:20px;
	padding-right:20px;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr; 
	background-image:linear-gradient(180deg,#7E0C0C,white,white);
}

.inbutton{
	margin-right:20px;
	margin-left:20px;
}

.buttons{
	border-radius:10px;
	background-color:green;
	color:white;
	font-weight:200px;
	font-size:1.75vw;
	font-weight:500px;
	padding-top:8px;
	padding-bottom:8px;
	font-family: Dancing Script;
	transition:.4s;
	border: white solid 1px;
	width:auto;
}

.buttons:hover{
	background-color:white;
	color:green;
	opacity:.9;
	border: green solid 1px;
}

.buttons:active{
	background-color:green;
	color:white;
	opacity: .8;
}

.two{
	border-radius:10px;
	background-color:white;
	color:green;
	font-size:1.75vw;
	padding-top:8px;
	padding-bottom:8px;
	font-family: Dancing Script;
	transition:.4s;
	border: green solid 1px;
	width:auto;
}

.two:hover{
	background-color:green;
	color:white;
	opacity:.9;
	border: white solid 1px;
}

.two:active{
	background-color:white;
	color:green;
	opacity: .8;
}
.medianamecont{
	width:100%;
	height:8vw;
	font-size:4vw;
	display:flex;
	justify-content:space-around;
	margin-top:2vw;
}
.videoname {
	width: 52vw;
	height: auto;
	text-align: center;
	font-family: rubik doodle shadow;
	text-shadow: red 20px 20px 20px;
}
.lyricname {
	width: auto;
	height: auto;
	text-align: center;
	font-family: rubik doodle shadow;
	text-shadow: green 20px 20px 20px;
}

.mediacont{
	width:100%;
	height:auto;
	display:flex;
	margin-bottom:-2vw;
	justify-content:space-around;

}

.videocont{
	width:52vw;
	position:sticky;
	top:1vw;
	height:34vw;
	box-shadow:black 10px 10px 10px;
	border-radius:2%;
	margin-left:2vw;
}

.ytvid{
	width:100%;
	height:100%;
	border-radius:2%;
}

.schoolsongcont{
	display:inline-block;
	padding:3vw;
}

.lyrics {
	width: 45vw;
	height: auto;
	box-shadow: silver 5px 8px 5px;
	margin-bottom: 1vw;
	border-radius:4%;
}

.lyricsimg{
	width:100%;
	height:auto;
	border-radius:4%;
	box-shadow:5px 5px 5px green ;
}

.audiocont{
	text-align:center;
	width:45vw;
	height:auto;
	padding:3vw;
}

audio{
	width:100%;
}
.mainbox{
	display:flex;
	margin-top:0;
	margin-bottom:0;
	width:100%;
	height:auto;
	justify-content:space-around;
	padding:20px;
	background-color:none;
}

.box1{
	background-color:none;
	padding:5px;
	margin:4px;
	max-width:65%;
	height:auto;
}

.containedbox1{
	background-color:none;
	display:block;
	margin-top:3%;
	margin-bottom:3%;
	padding:10px;

}

.topic1{
	background-color:none;
	font-family: Dancing Script;
	font-size:4vw;
	margin-top:2vw;
	text-align:center;
	color:black;
	text-shadow: 4px 4px 4px green;
}

.info1{
	background-color:none;
	margin-top:1vw;
	font-family: Crimson Pro;
	font-size:1.75vw;
	color:black;

}

.containedbox2{
	background-color:none;
	display:block;
	margin-top:3%;
	margin-bottom:3%;
	padding:10px;
	height:auto;
}

.topic2{
	background-color:none;
	font-family: Dancing Script;
	font-size:4vw;
	margin-top:2vw;	
	margin-top:2vw;
	text-align:center;
	color:black;
	text-shadow: 4px 4px 4px green;
}

.info2{
	background-color:none;
	margin-top:1vw;
	font-family: Crimson Pro;
	font-size:1.75vw;
	color:black;
}

.box2{
	background-color:none;
	margin:4px;
	width:70%;
	height:auto;
	text-align:center;
}

.logocont{
	padding:5px;
	background-color:none;
	position:sticky;
	top:1vw;
}

.Logo{
	width:25vw;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;

}

.mainbox2{
	background-color: none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:58%;
	color:black;
	margin:0;
	width:100%;
	font-family: Dancing Script;
	font-size: 4vw;
	text-shadow: green 4px 4px 4px;
}

.mainbox3{
	background-color:none;
	padding:15px;
	display:flex;
}

.btimgcont{
	width:auto;
	height:auto;
	background-color:none;
	padding:15px;
}
.butterflyimg {
	width: 25vw;
	height: auto;
	position: sticky;
	top: 1vw;
	border-radius: 15%;
}
.text{
	color:black;
	text-align:center;
	width:100%;
	font-family: Crimson Pro;
	font-size:1.75vw;
}
.mainbox4{
	background-color:none;
	display:flex;
	padding:25px;
	justify-content:space-around;
	margin-bottom:7vw;
	height:25vw;
	margin-top:4vw;
}

.roundbz{
	border-radius:50%;
	width:20vw;
}

.roundmex{
	border-radius:50%;
	width:20vw;

}

.footer {
	background-color: rgb(52, 58, 64);
	margin-bottom: 0px;
	height: auto;
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.copyrightcontainer {
	background-color: none;
	height: 100%;
	text-align: center;
	color: white;
}

.footbox {
	background-color: none;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}

.footimg {
	height: auto;
	width: 18vw;
}

.copyrightname {
	background-color: none;
	text-align: center;
	justify-content: center;
	padding: 2px;
	font-family: Crimson Pro;
	font-size: 1.25vw;
}

.foottext {
	background-color: none;
	color: white;
	height: 100%;
	padding: 2px;
	width: 40%;
	text-align: center;
}

.footername1 {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 4vw;
	align-text: center;
	justify-content: center;
	text-shadow: red 5px 5px 5px;
	padding: 3px;
}

.footername2 {
	background-color: none;
	display: flex;
	font-family: Dancing Script;
	font-size: 2.5vw;
	align-text: center;
	justify-content: center;
	text-shadow: green 2px 2px 2px;
	padding: 3px;
}

.footerdivider {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 2vw;
	text-align: center;
	justify-content: center;
}

.footername3,
.footername4,
.footername5 {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 1.25vw;
	align-text: center;
	justify-content: center;
}

.footbox2 {
	background-color: none;
	padding: 5px;
	width: auto;
}

.footerscript1 {
	background-color: none;
	color: white;
	font-family: Dancing Script;
	font-size: 5vw;
	text-align: center;
	text-shadow: green 5px 5px 5px;
	padding: 2px;
}

.mainiconlinkcont {
	width: 100%;
	background-color: rgb(52, 58, 64);
	display: flex;
	height: 5.5vw;
}

.iconcontainer {
	display: flex;
	background-color: rgb(52, 58, 64);
	justify-content: space-around;
	align-items: center;
	margin-left: 33.5%;
	margin-right: 33.5%;
}

.iconlinkcont1 {
	margin: -.25vw;
}

.iconlinkcont2,
.iconlinkcont3,
.iconlinkcont4 {
	margin: 1vw;
}

.iconlinkcont5 {
	margin: -.25vw;
}

.iconlinkcont6,
.iconlinkcont7 {
	margin: 1vw;
}

.iconone,
.icontwo {
	width: 4vw;
	height: 4vw;
}

.iconthree {
	width: 3vw;
	height: 2.5vw;
}

.iconfour {
	width: 3vw;
	height: 3vw;
}

.iconfive {
	width: 6.5vw;
	height: 4.5vw;
}

.iconsix {
	width: 3.25vw;
	height: 3.25vw;
	border-radius: 50%;
}

.iconseven {
	width: 3.25vw;
	height: 3.25vw;
}
.enddiv {
	width: 100%;
	height: 3vw;
	background-color: rgb(52, 58, 64);
	text-align: center;
	color: white;
	font-size: 2vw;
}