body,
html {
	background: url("navbarbackground.jpg");
}
.header {
	color: white;
	background-image: url('hdbackground.jpg');
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	width: 100%;
	padding: 2px;
	height: auto;
}

.return {
	text-decoration: none;
}

	.return:hover {
		text-decoration: none;
	}

.mainheader {
	font-size: 5.5vw;
	font-family: Dancing Script;
	text-shadow: 3.5px 3.5px 3.5px red;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	justify-content: space-between;
}

	.mainheader:hover {
		color: green;
		text-shadow: white 0.5px 0.5px 0.5px;
	}

.txone,
.txtwo,
.txthree,
.txfour {
	margin-left: 7px;
	margin-right: 7px;
}

.top-header {
	background-color: #7E0C0C;
	border: none;
}

.imgcontainer {
	width: 100%;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.logo {
	width: 10vw;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.scrollingquote {
	font-size: 2vw;
	color: white;
	width: 100%;
	height: auto;
	font-family: Dancing Script;
	text-shadow: 2px 2px 2px green;
}

.navbar {
	width: 100%;
	height: 75px;
	padding-left: 20px;
	padding-right: 20px;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-image: linear-gradient(180deg,#7E0C0C,white,white);
}
.inbutton{
	margin-right:20px;
	margin-left:20px;
}

.buttons{
	border-radius:10px;
	background-color:green;
	color:white;
	font-size:1.75vw;
	padding-top:8px;
	padding-bottom:8px;
	font-family: Dancing Script;
	transition:.4s;
	border: white solid 1px;
	width:auto;
}

.buttons:hover{
	background-color:white;
	color:green;
	opacity:.9;
	border: green solid 1px;
}

.buttons:active{
	background-color:green;
	color:white;
	opacity: .8;
}

.six{
	border-radius:10px;
	background-color:white;
	color:green;
	font-size:1.75vw;
	padding-top:8px;
	padding-bottom:8px;
	font-family: Dancing Script;
	transition:.4s;
	border: green solid 1px;
	width:auto;
}

.six:hover{
	background-color:green;
	color:white;
	opacity:.9;
	border: white solid 1px;
}

.six:active{
	background-color:white;
	color:green;
	opacity: .8;
}

.firstformcont{
	display:flex;
	width:100%;
	height:75vw;
	background-color:none;
	padding:1.5vw;
	justify-content:space-around;
	margin-top:4vw;
}

.firstrightcont{
	width:100%;
	height:100%;
}
.firstname{
	width:100%;
	height:auto;
	font-size:2vw;
	text-align:center;
	font-family:dancing script;
	height:auto;
	font-weight:bold;
	text-shadow:green 2px 2px 2px;
}

.maininfocont{
	display:flex;
	justify-content:space-around;
	padding:1vw;
	height:100%;
}

.firstinfocont {
	width: 45%;
	background-color: none;
}
.firstinfo h3{
	font-size:2.5vw;
}

.firstinfo{
	text-align:center;
	font-size:1.5vw;
	position:sticky;
	width:90%;
	height:auto;
	background-color:none;
	top:1vw;
	font-family:Dancing Script;
}
	.firstinfo h3 {
		text-shadow: green 1px 1px 1px;
	}

.firstsubscont {
	width: 40%;
	background-color: none;
}

.firstsubs {
	text-align: center;
	font-size: 1.5vw;
	position: sticky;
	width: 90%;
	height: auto;
	background-color: none;
	top: 1vw;
	font-family: Dancing Script;
}

.firstsubs h3{
	font-size:2.5vw;
}

	.firstsubs h3 {
		text-shadow: green 1px 1px 1px;
	}

	.firstsubs h4{
		font-weight:bold;
		font-size:1.5vw;
		text-shadow:green 1px 1px;
	}
.firstgallery {
	width: 43%;
	padding:.5vw;
}

.firstsingleimage{
	width:100%;
	height:auto;
}

.firstimage{
	width:100%;
	height:auto;
	border-radius:7%;
}
.imgdoublecont {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin-top:1vw;
	margin-bottom:1vw;
}

.dblcontimg{
	width:45%;
	height:auto;
	border-radius:10%;
}






.secondformcont{
	display:flex;
	width:100%;
	height:75vw;
	background-color:none;
	padding:1.5vw;
	justify-content:space-around;
	margin-top:4vw;
}

.secondleftcont{
	width:100%;
	height:100%;
}
.secondname{
	width:100%;
	height:auto;
	font-size:2vw;
	text-align:center;
	font-family:dancing script;
	height:auto;
	font-weight:bold;
	text-shadow:yellow 2px 2px 2px;
}

.maininfocont{
	display:flex;
	justify-content:space-around;
	padding:1vw;
	height:100%;
}

.secondinfocont {
	width: 45%;
	background-color: none;
}
.secondinfo{
	text-align:center;
	font-size:1.5vw;
	position:sticky;
	width:90%;
	height:auto;
	background-color:none;
	top:1vw;
	font-family:Dancing Script;
}
	.secondinfo h3 {
		text-shadow: yellow 1px 1px 1px;
		font-size:2.5vw;
	}

.secondsubscont {
	width: 40%;
	background-color: none;
}

.secondsubs {
	text-align: center;
	font-size: 1.5vw;
	position: sticky;
	width: 90%;
	height: auto;
	background-color: none;
	top: 1vw;
	font-family: Dancing Script;
}

	.secondsubs h3 {
		text-shadow: yellow 1px 1px 1px;
		font-size:2.5vw;
	}

	.secondsubs h4{
		font-weight:bold;
		font-size:1.5vw;
		text-shadow:yellow 1px 1px;
	}
.secondgallery {
	width: 43%;
	padding:.5vw;
}

.secondsingleimage{
	width:100%;
	height:auto;
}

.secondimage{
	width:100%;
	height:auto;
	border-radius:7%;
}
.imgdoublecont {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin-top:1vw;
	margin-bottom:1vw;
}

.dblcontimg{
	width:45%;
	height:auto;
	border-radius:10%;
}





















































.maincoursecontainer {
	display: flex;
	justify-content: space-around;
	margin-top:2vw;
	margin-bottom:5vw;
	height:auto;
}

.coursetitle {
	font-family: dancing script;
	text-align: center;
	font-size: 3vw;
	margin-top: 3vw;
	margin-bottom: 3vw;
	text-shadow:silver 2px 2px 2px;
}
.coursetitle h2{
	font-size:2vw;
}
.thirdname{
	text-shadow:blue 1px 1px 1px;
}
.fourthname{
	text-shadow:red 1px 1px 1px;
}
.course {
	width: 12vw;
	height: 22vw;
	background-color: none;
	transition:0.1s;
}

	.course:hover{
		opacity:0.6;
		border:ridge rgb(128, 128, 128);
	}
.coursecont {
	width: 100%;
	height: 100%;
	
}

.coursename{
	text-align:center;
	font-family:Dancing Script;
	font-size:2vw;
	text-shadow:gray 2px 2px 2px;
	color:black;
}

.image{
	width: 100%;
	height: 90%;
	border-radius:5%;
}

.footer {
	background-color: rgb(52, 58, 64);
	margin-bottom: 0px;
	height: auto;
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.copyrightcontainer {
	background-color: none;
	height: 100%;
	text-align: center;
	color: white;
}

.footbox {
	background-color: none;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}

.footimg {
	height: auto;
	width: 18vw;
}

.copyrightname {
	background-color: none;
	text-align: center;
	justify-content: center;
	padding: 2px;
	font-family: Crimson Pro;
	font-size: 1.25vw;
}

.foottext {
	background-color: none;
	color: white;
	height: 100%;
	padding: 2px;
	width: 40%;
	text-align: center;
}

.footername1 {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 4vw;
	align-text: center;
	justify-content: center;
	text-shadow: red 5px 5px 5px;
	padding: 3px;
}

.footername2 {
	background-color: none;
	display: flex;
	font-family: Dancing Script;
	font-size: 2.5vw;
	align-text: center;
	justify-content: center;
	text-shadow: green 2px 2px 2px;
	padding: 3px;
}

.footerdivider {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 2vw;
	text-align: center;
	justify-content: center;
}

.footername3,
.footername4,
.footername5 {
	background-color: none;
	display: flex;
	font-family: Crimson Pro;
	font-size: 1.25vw;
	align-text: center;
	justify-content: center;
}

.footbox2 {
	background-color: none;
	padding: 5px;
	width: auto;
}

.footerscript1 {
	background-color: none;
	color: white;
	font-family: Dancing Script;
	font-size: 5vw;
	text-align: center;
	text-shadow: green 5px 5px 5px;
	padding: 2px;
}

.mainiconlinkcont {
	width: 100%;
	background-color: rgb(52, 58, 64);
	display: flex;
	height: 5.5vw;
}

.iconcontainer {
	display: flex;
	background-color: rgb(52, 58, 64);
	justify-content: space-around;
	align-items: center;
	margin-left: 33.5%;
	margin-right: 33.5%;
}

.iconlinkcont1 {
	margin: -.25vw;
}

.iconlinkcont2,
.iconlinkcont3,
.iconlinkcont4 {
	margin: 1vw;
}

.iconlinkcont5 {
	margin: -.25vw;
}

.iconlinkcont6,
.iconlinkcont7 {
	margin: 1vw;
}

.iconone,
.icontwo {
	width: 4vw;
	height: 4vw;
}

.iconthree {
	width: 3vw;
	height: 2.5vw;
}

.iconfour {
	width: 3vw;
	height: 3vw;
}

.iconfive {
	width: 6.5vw;
	height: 4.5vw;
}

.iconsix {
	width: 3.25vw;
	height: 3.25vw;
	border-radius: 50%;
}

.iconseven {
	width: 3.25vw;
	height: 3.25vw;
}
.enddiv {
	width: 100%;
	height: 3vw;
	background-color: rgb(52, 58, 64);
	text-align: center;
	color: white;
	font-size: 2vw;
}